@import url(//fonts.googleapis.com/css?family=Vibur);

.neonSign, .neonSign2, .neonSign3, .neonSign4 {
  user-select: none;
  text-align: center;
  height: 6vh;
  background-blend-mode: hard-light;
  background-position-y:top;
  background-position-x: center;
  background-size: 100%;
}
.neonSignon, .neonSign2on, .neonSign3on, .neonSign4on {
  user-select: none;
  text-align: center;
  height: 6vh;
  background-blend-mode: hard-light;
  background-position-y:top;
  background-position-x: center;
  background-size: 100%;
}
.neonSign, .neonSign2, .neonSign3, .neonSign4 {
  font: 400 4vh "Vibur";
  color: #50C9BD;
  text-shadow: 0 -40px 100px, 0 0 0.2px, 0 0 0.01em #50C9BD, 0 0 0.01em #50C9BD, 0 0 0.01em #50C9BD, 0 10px 3px #000;}
.neonSignon, .neonSign2on, .neonSign3on, .neonSign4on {
  font: 400 4vh "Vibur";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 0.2px, 0 0 1em #50C9BD, 0 0 0.5em #50C9BD, 0 0 0.1em #50C9BD, 0 10px 3px #000;
}
.neonSign b span, .neonSign2 b span, .neonSign3 b span, .neonSign4 b span{
  display: inline-block;
  font-size: clamp(20px, 4.6vh, 4.6vh);
}
.neonSignon b span, .neonSign2on b span, .neonSign3on b span, .neonSign4on b span{
  display: inline-block;
  font-size: clamp(20px, 4.6vh, 4.6vh);
  animation: blink linear infinite 5s;
}
.neonSign b a, .neonSign2 b a, .neonSign3 b a, .neonSign4 b a {
  display: inline-block;
  font-size: clamp(20px, 4.6vh, 4.6vh);
}
.neonSignon b a, .neonSign2on b a, .neonSign3on b a, .neonSign4on b a {
  display: inline-block;
  font-size: clamp(20px, 4.6vh, 4.6vh);
}
.neonSignon b span:nth-of-type(2) {
  animation: blink reverse infinite 8s;
}
.neonSign2on b span:nth-of-type(2) {
  animation: blink reverse infinite 6s;
}
.neonSign3on b span:nth-of-type(2) {
  animation: blink reverse infinite 4s;
}
.neonSign4on b span:nth-of-type(2) {
  animation: blink reverse infinite 2s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {

    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

body, html {  
  height: 100%; 
}
input:focus {
  outline: none;
  box-sizing: none;
}
.shadow:hover {
  box-shadow: 0px 0px 7px white;
}
.dash-subtitle {  
  position: relative;
  color: white;
  z-index: 2;
  top: 118px;
  left: 567px;
  font-size: x-large;
  font-family: "Manuka";
}
.mint-symbol {
  position: relative;  
  top: 53px;
}
.liq-symbol {
  position: relative;  
  top: 32px;
}
.vote-symbol {
  position: relative;  
  top: 53px;
}
.launch-symbol {
  position: relative;  
  top: 25px;
}
.dash-logo {
  position: absolute;
  z-index: 1;
  left: 47.2%;
  top: 1.5vh;
  width: 4.5vw;
  min-width: 65px;
}
@media screen and (max-width:425px) {
  .dash-logo  {
    left: 36.5%;
  }}
.page-frame {  
  position: relative; 
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
}
.pageTitle {  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(80%);
  top: 0%;
  z-index: 0;
  width: 100vw;
  position: relative;
  mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
}
input {
  background-color:#454444;
}
.spacing{
  margin-top: 5vh;
}
.shiftRight{ 
  margin-left: 10%;
  margin-bottom: 10%;
}
.fullHeight{
  min-height: 100vh;
  max-width: 100vw;
  background-color: #212121;
  font-family: 'Abel', sans-serif;
  display: flex;
  position: relative;
  overflow: hidden;
}
h5{
  color:#ffffff;
  text-transform: uppercase;
}
p{
  color: white;
}
.card {
  width: auto;
  margin-bottom: 9%;
  opacity: .8;
}
.card-body a{
  text-decoration: underline;
  color: white
}
.card-body{    
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}
.card-design {  
  background-color: #383838;
  border-radius: 1rem;  
  height: 340px;
  width: 16.2vw;
  min-width: 180px;
}
.walletsection {  
  position: fixed;
  right: 1vw;
  min-width: 120px;
  top: 2vh;
  z-index: 2;
}
.nav-walletsection { 
  width: 5vw;
  margin-top: 5vh;
  margin-left: 0.3vw;
}
.cards {
  position: absolute;
  width: 89vw;
  top: 32vh;
  left: 2.5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4%;
  z-index: 1;
}
@media screen and (max-width:425px) {
  .cards {
    left: -7%;
    top: 20vh;
  }}
.card-text{
  color: white;
  font-size: 12px;
  opacity: .8;
  top: 27px;
  position: relative;
}
.mgTop{
  margin-top: 5%;
  margin-bottom: 2%;
}
.stats{
  background-color: #2F2F2F;
}
.gradient{
  background-image: linear-gradient(#50C9BD, #7990FE);
}
ul{
  list-style-type: none;
}
.upper{
  text-transform: uppercase;
}
.nav-home-logo {
  margin-bottom: 11vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--font-size-xl);
}
.nav-label {
  color: white;
  position: relative;
  top: -2vh;
}
.sticky {
  height: 100vh;
  position: relative;
  bottom: 0%;
  z-index: 2;
  width: 13vw;
  max-width: 80px;
  min-width: 73px;
  filter: brightness(70%);
}
.hoverColor:hover {
  background-color: #798EFF;
}
.buttons {
  background-color: #798EFF;  
  position: absolute;
  top: 280px;
  width: 80%;
}
.buttons:hover{
  box-shadow: inset 0px 0px 50px #50C9BD;
}
.walletconnect{
  overflow-x: hidden;
}
.wallet-btn{
  position: relative;
}
/*Liquidation Pool Specific*/
.pool-titles {
  position: relative;
  margin-left: 5%;
  font-size: 24px;
  margin-top: 5%;
  color: white;
}
h3[data-descr] {
  position: relative;
  cursor: help;
}
h3[data-descr]:hover::after {
  content: attr(data-descr);
  position: absolute;
  left: 0;
  top: 24px;
  min-width: 200px;
  border: 1px #aaaaaa solid;
  border-radius: 10px;
  background-color: #ffffcc;
  padding: 12px;
  color: #000000;
  font-size: 14px;
  z-index: 999;
}
.pool-subtitle {
  position: relative;
  margin-left: 12.5%;
  margin-top: -3%;
  color: darkgray;
}
.single-asset-info-circle {
  position: absolute;
  margin: 0 !important;
  top: 28px;
  left: 155px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-100);
  width: 8px;
  height: 8px;
  z-index: 1;
}
.bar-icon9 {
  position: absolute;
  bottom: 173px;
  left: 397px;
  width: 29px;
  height: 45px;
  z-index: 0;
  background-color: #131313;
}
.bar-icon8 {
  position: absolute;
  bottom: 173px;
  left: 357px;
  width: 29px;
  height: 90px;
  z-index: 0;
  background-color: #131313;
}
.bar-icon7 {  
  position: absolute;
  width: 29px;
  bottom: 173px;
  left: 317px;
  height: 33px;
  z-index: 4;
  background-color: #131313;
}
.bar-icon6 {
  position: absolute;
  width: 29px;
  bottom: 173px;
  left: 277px;
  height: 18px;
  z-index: 5;
  background-color: #131313;
}
.bar-icon5 {
  position: absolute;
  width: 29px;
  bottom: 173px;
  left: 237px;
  height: 68px;
  z-index: 6;
  background-color: #131313;
}

.bar-icon4 {
  position: absolute;
  margin: 0 !important;
  bottom: 173px;
  left: 197px;
  width: 29px;
  height: 120px;
  z-index: 7;
  background-color: #131313;
}
.bar-icon3 {
  position: absolute;
  width: 29px;
  bottom: 173px;
  left: 157px;
  height: 49px;
  z-index: 8;
  background-color: #131313;
}
.bar-icon2 {
  position: absolute;
  width: 29px;
  bottom: 173px;
  left: 117px;
  height: 203px;
  z-index: 9;
  background-color: #131313;
}
.bar-icon1 {
  position: absolute;
  width: 29px;
  bottom: 173px;
  left: 78px;
  height: 33px;
  z-index: 10;
  background-color: #131313;
}
.bar-icon {
  position: absolute;
  width: 29px;
  bottom: 173px;
  height: 33px;
  left: 38px;
  z-index: 11;
  background-color: #131313;
}
.label4,
.label5 {
  cursor: pointer;
  top: 380px;
  display: inline-block;
  width: 28px;
  height: 29px;
  flex-shrink: 0;
}
.label4 {
  position: absolute;
  margin: 0 !important;
  left: 44px;
  z-index: 12;
}
.label5 {
  left: 84px;
  z-index: 13;
}
.label5,
.label6,
.label7 {
  position: absolute;
  margin: 0 !important;
  cursor: pointer;
}
.label6 {
  top: 380px;
  left: 122px;
  display: inline-block;
  width: 28px;
  height: 29px;
  flex-shrink: 0;
  z-index: 14;
}
.label7 {
  left: 162px;
  z-index: 15;
}
.label7,
.label8,
.label9 {
  cursor: pointer;
  top: 380px;
  display: inline-block;
  width: 28px;
  height: 29px;
  flex-shrink: 0;
}
.label8 {
  position: absolute;
  margin: 0 !important;
  left: 203px;
  z-index: 16;
}
.label9 {
  left: 244px;
  z-index: 17;
}
.label10,
.label11,
.label9 {
  cursor: pointer;
  position: absolute;
  margin: 0 !important;
}
.label10 {
  top: 380px;
  left: 283px;
  display: inline-block;
  width: 28px;
  height: 29px;
  flex-shrink: 0;
  z-index: 18;
}
.label11 {
  left: 323px;
  z-index: 19;
}
.label11,
.label12,
.label13 {
  cursor: pointer;
  top: 380px;
  display: inline-block;
  width: 28px;
  height: 29px;
  flex-shrink: 0;
}
.label12 {
  position: absolute;
  margin: 0 !important;
  left: 363px;
  z-index: 20;
}
.label13 {
  left: 402px;
  z-index: 21;
}
.asset-label,
.button-icon,
.label13 {
  position: absolute;
  margin: 0 !important;
}
.collateral-tvl-label,
.highest-tvl-bar-label,
.user-tvl-label,
.captial-ahead-label,
.total-tvl-label,
.premium,
.label4,
.label5,
.label6,
.label7,
.label8,
.label9,
.label10,
.label11,
.label12,
.label13 {  
  color: white;
} 
.button-icon {
  top: 9.5px;
  left: 63.87px;
  width: 11.26px;
  height: 13.5px;
  z-index: 0;
}
.asset-label {
  top: calc(50% - 11.5px);
  left: calc(50% - 31.5px);
  z-index: 1;
}
.asset-dropdown {
  position: absolute;
  top: -10px;
  left: 195px;
  background-color: #798eff;
  width: 75px;
  height: 27px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  z-index: 22;
  color: white
}
.menu {
  position: absolute;
  margin-top: 120%;
  width: 75px;
}
.menu > li:hover {
  background-color: lightgray;
}
.menu > li > button {
  text-align: center;
  color: inherit;
  border: none;
  margin: 0;
  font: inherit;
  cursor: pointer;
}
.menu-item {
  position: relative;
  text-align: center;
  border: 1px solid grey;
  background-color: #798eff;
}
.queue-stats-box {
  position: relative;  
  top: 54vh;
  left: 0.5vw;
  display: inline-flex;
}
.omni-stats-box {
  position: relative;  
  top: 34.3vh;
  left: 0.5vw;
  display: inline-flex;
}
.omni-unstaking-msg {
  position: relative;
  border: 1px solid #798eff;
  border-radius: 1.2rem;
  background-color: grey;
  width: 10.3vw;
  height: 14vh;
  display: inline-flex;
  left: 32.5vw;   
  font-size: 1vw;
  text-align: center;
}
.queue-stats-item {
  margin-left: 2vw;
}
.collateral-tvl-label {
  text-align: center;
  display: flex;
  width: 112px;
  height: 21px;
  font-size: large;
  flex-direction: column;
}
.highest-tvl-bar-label {
  position: absolute;
  margin: 0 !important;
  top: 137px;
  left: 162px;
  font-size: 17px;
  z-index: 24;
}
.x-axis {
  position: absolute;
  margin: 0 !important;
  top: 370px;
  left: 23px;
  border-top: 2px;
  background-color: #ffffff;
  width: 415px;
  height: 2px;
  z-index: 25;
}
.bid-actionbox {
  position: relative;
  width: 11vw;
  left: 31.8vw;
  top: -1vh;
}
.bid-actionbox-input{  
  background-color: rgb(69, 68, 68);
  width: 4.2vw;
  text-align: center;
  height: 4vh;
  display: inline-block;
  position: relative;
  top: 1px;
}
.bid-actionbox-labels {
  background-color: rgb(69, 68, 68);
  display: inline-block;
  height: 4vh;  
  margin-top: 0.3vh;
}
.bid-button {
  position: relative;
  width: 11vw;
  margin-top: 1vh;
  background-color: #798EFF;
}
.bid-actionlabel {
  display: inline;
  cursor: pointer;
}
.premium-toggle {
  position: relative;
  top: -6px;
  display: inline-grid;
  width: 2vw;
  height: 4vh;
  justify-items: center;
}
.plus-premium {
  cursor: pointer;
  font-weight: 600;
  font-size: .875rem;
  position: relative;
  background-color: #454444;
  height: 2vh;
  width: 1.5vw;
  top: -2px;
  display: inline-flex;
  user-select: none;
  align-items: center;
  justify-content: center;
}
.minus-premium {
  cursor: pointer;
  font-weight: 600;
  font-size: .875rem;
  position: relative;
  background-color: #454444;
  height: 2vh;
  width: 1.5vw;
  top: 1px;
  display: inline-flex;
  user-select: none;
  align-items: center;
  justify-content: center;
}
.plus-premium:hover,
.minus-premium:hover {
  background-color: #798EFF;
}
.sa-claim-button {
  z-index: 13;
  color: black;
  width: 11vw;
  height: 4vh;
  position: relative;
  top: 0vh;
  background-color: #D9D9D9;
}
.total-bids-card {
  width: 110px;
  height: 75px;
  top: 30px;
  left: 458px;
  font-size: medium;
  text-align: left;
  font-family: 'Space Grotesk';
}
.total-bids {
  top: 9px;
  left: 7px;
  position: relative;
}
.total-user-bids {
  top: 17px;
  left: 7px;
  position: relative;
}
.singleassetframe {
  position: absolute;
  top: 65px;
  left: 12px;
  background-color: #383838;
  box-shadow: 0px 0px 5px #c1c1c1;
  width: 593.5px;
  height: 550px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xl) var(--padding-5xl) 1px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  z-index: 30;
}
.capital-ahead-box,
.user-tvl-box {
  position: absolute;
  margin: 0 !important;
  top: 21.5vh;
  left: 17.8vw;
  background-color: rgba(121, 142, 255, 0.85);
  width: 102px;
  height: 236px;
  z-index: 1;
}
.user-tvl-box {
  background-color: rgba(79, 202, 187, 0.85);
  height: 44px;
  z-index: 2;
}
.captial-ahead-label,
.user-tvl-label {
  display: inline-block;
  width: 50px;
  height: 11px;
  flex-shrink: 0;
  z-index: 13;
}
.user-tvl-label {
  text-align: center;
  top: 12vh;
  left: 19.8vw;
}
.captial-ahead-label {
  text-align: center;
  top: 30vh;
  left: 19.8vw;
}
.total-tvl-label {
  position: absolute;
  top: 12vh;
  left: 17.5vw;
  font-size: var(--font-size-xl);
  width: 112px;
  height: 21px;
  z-index: 6;
  text-align: center;
}
.omni-asset-info-circle {
  top: 28px;
  left: 136px;
  background-color: var(--color-gainsboro-100);
  z-index: 7;
}
.claim-button {
  z-index: 13;
  color: black;
  width: 120px;
  height: 41px; 
  top: 497px;
  margin-left: 30.5%;
  background-color: #D9D9D9;
}
.withdraw-button,
.deposit-button,
.deposit-amount,
.withdraw-amount,
.omni-deposit-amount,
.omni-withdraw-amount,
.withdraw-button-omni,
.deposit-button-omni {
  position: relative;
  z-index: 20;
  color: black;
  width: 111px;
  height: 38px;
  background-color: #4FCABB;
}
.deposit-button-omni {
  top: 357px;
  left: 75px;
}
.withdraw-button-omni {
  top: 357px;
  left: 175px;
}
.deposit-button {
  left: 45px;
  top: 357px;
}
.withdraw-button {
  left: 185px;
  top: 357px;
}
.deposit-amount,
.omni-deposit-amount{
  position: absolute;
  border: 1px solid #AAA;
  border-radius: 4px;
  top: 459px;
  left: 105px;
  width: 44px;
  height: 22px;
  z-index: 21;
}
input[type="number"]:disabled {
  opacity: 0;
}
.withdraw-amount,
.omni-withdraw-amount{
  position: absolute;
  border: 1px solid #AAA;
  border-radius: 4px;
  top: 459px;
  left: 365px;
  width: 40px;
  height: 22px;
  z-index: 21;
}
.omni-deposit-amount { 
  left: 137px;
}
.omni-withdraw-amount {  
  left: 357px;
}
.deposit-button-label {
  position: absolute;
  top: 7px;
  margin-left: -5%;
}
div[data-descr] {
  position: relative;
}
div[data-descr]:hover::after {
  content: attr(data-descr);
  position: absolute;
  left: -7px;
  top: 25px;
  min-width: 33px;
  border: 1px #aaaaaa solid;
  border-radius: 10px;
  background-color: #50C9BD;
  padding: 12px;
  color: #000000;
  font-size: 14px;
  z-index: 21;
}
div[data-tvl] {
  position: absolute;
}
div[data-tvl]:hover::after {
  content: attr(data-tvl);
  position: absolute;
  left: -20px;
  top: 15px;
  min-width: 30px;
  border: 1px #aaaaaa solid;
  border-radius: 10px;
  background-color: #50C9BD;
  padding: 12px;
  color: #000000;
  font-size: 14px;
  z-index: 21;
}
p[data-descr] {
  position: relative;
}
p[data-descr]:hover::after {
  content: attr(data-descr);
  position: absolute;
  left: 3px;
  top: 25px;
  min-width: 90px;
  border: 1px #aaaaaa solid;
  border-radius: 10px;
  background-color: #ffffcc;
  padding: 12px;
  color: #000000;
  font-size: 14px;
  z-index: 21;
}
span[data-descr] {
  position: relative;
  cursor: help;
}
span[data-descr]:hover::after {
  content: attr(data-descr);
  position: absolute;
  left: 0;
  top: 24px;
  min-width: 200px;
  border: 1px #aaaaaa solid;
  border-radius: 10px;
  background-color: #ffffcc;
  padding: 12px;
  color: #000000;
  font-size: 14px;
  z-index: 21;
}
.withdraw-button-label {
  position: absolute;
  top: 7px;
  left: 4px;
}
.capital-ahead-info-circle,
.omni-asset-info-circle,
.user-tvl-info-circle {
  position: absolute;
  margin: 0 !important;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}
.user-tvl-info-circle {
  top: 151px;
  left: 248px;
  background-color: var(--color-gainsboro-200);
  z-index: 8;
}
.capital-ahead-info-circle {
  top: 271px;
  left: 250px;
  background-color: rgba(217, 217, 217, 0.38);
  z-index: 9;
}
.tvl-container-icon {
  top: 16vh;
  left: 12vw;
  z-index: 10;
}
.premium,
.tvl-container-icon,
.water-drops-deco-icon {
  position: absolute;
  margin: 0 !important;
}
.premium {
  top: 60vh;
  left: 20.8vw;
  font-size: var(--font-size-mini);
  z-index: 11;
}
.water-drops-deco-icon {
  top: 369px;
  left: 188px;
  width: 82px;
  height: 145px;
  z-index: 12;
}
.omniassetframe {
  position: absolute;
  top: 65px;
  left: 621px;
  background-color: #383838;
  box-shadow: 0px 0px 5px #c1c1c1;
  box-sizing: border-box;
  width: 584.5px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.titleicon {
  position: absolute;
  top: 7px;
  left: 238px;
  width: 45px;
  height: 45px;
}
.middleborder {
  position: absolute;
  top: 65px;
  left: 603px;
  background: gray;
  box-sizing: border-box;
  width: 17px;
  height: 550px;
}
.docs1,
.github1,
.twitter1 {
  top: 0;
  cursor: pointer;
}
.docs1 {
  position: absolute;
  left: 0;
  width: 47px;
  height: 18px;
}
.github1,
.twitter1 {
  width: 47px;
}
.github1 {
  position: absolute;
  left: 38px;
  height: 18px;
}
.twitter1 {
  left: 85px;
}
.discord1,
.twitter1 {
  position: absolute;
  height: 18px;
}
.discord1 {
  top: 0;
  left: 135px;
  display: inline-block;
  width: 47px;
  cursor: pointer;
}
.footer {
  position: fixed;
  height: 4vh;
  bottom: 1vh;
  right: 1%;
  width: 190px;
  color: #ffffff;
  z-index: 1;
}
.liquidationpoolpage {
  top: 0;
  left: 50px;
}
.pagetitle {
  position: absolute;
  top: 12px;
  left: 27px;
  font-size: xx-large;
  color: #ffffff;
}
.logo-icon1 {
  position: relative;
  width: 43px;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
}
.membrane {
  position: relative;
  display: none;
}
.home-01-icon1 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.dashboard3,
.home-01-container,
.pie-chart1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dashboard3,
.pie-chart1 {
  align-self: stretch;
}
.dashboard3 {
  z-index: 0;
}
.pie-chart1 {
  z-index: 1;
}
.liquidation-pool-item {
  position: relative;
  width: 20px;
  height: 32px;
  z-index: 0;
}
.icon4 {
  position: absolute;
  margin: 0 !important;
  top: 23px;
  left: 16.94px;
  width: 14.12px;
  height: 14.08px;
  z-index: 1;
}
.liquidation-pool1,
.staking1 {
  width: 48px;
  box-sizing: border-box;
}
.liquidation-pool1 {
  background-color: var(--color-white);
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}
.staking1 {
  margin: 0 !important;
  top: 261px;
  left: 0;
  cursor: pointer;
  z-index: 3;
}
.liquidation-pools {
  position: relative;
  width: 1225px;
  height: 704px;
  left: -27px;
  overflow: hidden;
  text-align: left;
  background-color: #2F2F2F;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

/*LOCKDROP SPECIFIC*/
.deposit,
.withdraw,
.durationbar,
.infobox {
  position: absolute;
  margin: 0 !important;
  z-index: 0;
  color: black;
}
.infobox {
  top: 112px;
  left: 23px;
  border-radius: 1rem;
  background-color: #585858;
  width: 282px;
  height: 425px;
}
.lockdrop-frame {
  top: 112px;
  left: 23px;
  background-color: #383838;
  width: 915px;
  height: 425px;
  border: 3px solid black;
}
.deposit,
.durationbar {
  left: 214px;
}
.durationbar {
  top: 50px;
  left: 250px;
  width: 608px;
  height: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 1;
}
.y-axis {
  position: absolute;
  margin:auto;
  left: 480px;
  border-top: 2px;
  background-color: black;
  width: 3px;
  height: 25px;
  overflow: hidden;
}
.withdraw {
  position: absolute;
  margin: 0 !important;
  left: 500px;
  z-index: 8;
}
.mbrn-reward-circle,
.osmo-deposit-circle {
  position: absolute;
  margin: 0 !important;
  border-radius: 50%;
  box-sizing: border-box;
}
.mbrn-reward-circle {
  top: 89px;
  left: 352px;
  background-color: #62599a;
  border: 5px solid black;
  width: 535px;
  height: 527px;
  z-index: 9;
}
.osmo-deposit-circle {
  top: 240px;
  left: 495px;
  background: linear-gradient(180deg, rgba(230, 41, 246, 0), #902599);
  border: 3px solid black;
  width: 250px;
  height: 250px;
  z-index: 10;
}
.mbrn-reward-total,
.osmo-deposit-amount {
  position: absolute;
  top: 345px;
  left: 588px;
  font-size: var(--font-size-lg);
  text-align: center;
  letter-spacing: 0.14em;
  color: whitesmoke;
  z-index: 11;
}
.total-osmo-deposit-amount {
  position: relative;
  top: -374px;
  left: -98px;
  font-size: var(--font-size-lg);
  text-align: center;
  letter-spacing: 0.14em;
  color: whitesmoke;
  z-index: 11;
}
.mbrn-reward-total,
.mbrn-rank {
  top: 152px;
  left: 587px;
  font-size: var(--font-size-3xl);
  z-index: 12;
}
.mbrn-reward-total {  
  width: 60%;
  left: auto;
  top: 55px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
} 
.mbrn-rank {
  position: absolute;
  font-weight: bolder;
  top: 120px;
  left: 557px;
}
.rates-box-title { 
  position: absolute;
  top: 525px;
  left: 320px;
  color: white;
  z-index: 13;
}
.mbrn-rate-logo {
  position: absolute;
  top: 0px;
  left: 27px;
  width: 22px;
  height: 22px;
  z-index: 13;
}
.rates-box {
  position: absolute;
  top: 550px;
  left: 310px;
  width: 120px;
  height: 66px;
  background-color: #585858;
  border: 5px solid white;
  border-radius: 1rem;
  z-index: 13;
}
.price-in-osmo,
.price-in-axlusdc {
  position: absolute;
  top: 585px;
  left: 360px;
  color: #50C9BD;
  z-index: 13;
}
.price-in-osmo {  
  top: 560px;
}
.osmo-rate-logo,
.axlusdc-rate-logo {
  position: absolute;
  top: 583px;
  left: 328px;
  width: 27px;
  height: 27px;
  z-index: 13;
}
.osmo-rate-logo {
  top: 554px;
}
.there-is-10m-mbrn-up-for-grabs {
  margin: 0;
}
.infomsg {
  position: absolute;
  margin: 0 !important;
  top: 155px;
  left: 35px;
  font-size: var(--font-size-mini);
  display: inline-block;
  width: 202px;
  height: 169px;
  flex-shrink: 0;
  z-index: 13;
  font-family: var(--font-inter);
}
.allocationmsg-txt {
  line-break: anywhere;
  width: 100%;
}
.allocationmsg,
.allocations,
.info {
  position: absolute;
  margin: 0 !important;
  left: 35px;
}
.allocationmsg {
  top: 445px;
  display: flex;
  align-items: center;
  width: 270px;
  z-index: 14;
}
.allocations,
.info {
  top: 127px;
  font-size: var(--font-size-3xl);
  z-index: 15;
  color: #4FCABB;
  font-weight: bolder;
}
.allocations {
  top: 420px;
  text-align: right;
  z-index: 16;
}
.yourdepositstext {
  margin: 0 !important;
  position: absolute;
  top: 19px;
  left: 17px;
  width: 263px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-weight: bolder;
  color: #ababab;
}
.launch-lock-amount,
.lock-duration {
  position: absolute;
  margin: 0 !important;
  top: 60px;
  left: 20px;
  z-index: 11;
}
.lock-duration {
  left: 95px;
}
.button-label {
  top: 0;
  left: 7px;
  font-size: small;
  font-weight: bolder;
  letter-spacing: 0.14em;
  position: absolute;
}
.button,
.button1,
.button2,
.button3,
.button4,
.button5,
.button6,
.button7 {
  position: absolute;
  left: 180px;
  border-radius: 50%;
  background-color:whitesmoke;
  width: 77px;
  height: 22px;
  color: #454444;
}
.button {
  top: 92px;
}
.button1 {
  top: 142px;
}
.button2 {
  top: 192px;
}
.button3 {
  top: 242px;
}
.button4 {
  top: 292px;
}
.button5 {
  top: 342px;
}
.button6 {
  top: 392px;
}
.button7 {
  top: 442px;
}
.button:hover,
.button1:hover,
.button2:hover,
.button3:hover,
.button4:hover,
.button5:hover,
.button6:hover,
.button7:hover {
  background-color: #383838;
}
.div2,
.days,
.div3,
.days1,
.div4,
.days3,
.div5,
.days4,
.div6,
.days5,
.div7,
.days2,
.div8,
.days6,
.div9,
.days7 {
  left: 20px;
  width: 50px;
  border-radius: 20px;
  text-align: center;
}
.days,
.days1,
.div2,
.div3 {
  position: absolute;
  margin: 0 !important;
}
.days,
.days1,
.div2,
.div3 {
  top: 92px;
  left: 30px;
  z-index: 20;
}
.days,
.days1,
.div3 {
  left: 125px;
  z-index: 21;
}
.days1,
.div3 {
  top: 142px;
  left: 30px;
  z-index: 22;
}
.days1 {
  left: 125px;
  z-index: 23;
}
.days2,
.days3,
.days4,
.days5,
.div4,
.div5 {
  position: absolute;
  margin: 0 !important;
  top: 192px;
  left: 30px;
  z-index: 24;
}
.days2,
.days3,
.days4,
.days5,
.div5 {
  left: 125px;
  z-index: 25;
}
.days3,
.days4,
.days5,
.div5 {
  top: 242px;
  left: 30px;
  z-index: 26;
}
.days3,
.days4,
.days5 {
  left: 125px;
  z-index: 27;
}
.days4,
.days5 {
  top: 292px;
  z-index: 28;
}
.days5 {
  top: 342px;
  z-index: 29;
}
.days6,
.days7,
.div6,
.div7,
.div8,
.div9 {
  position: absolute;
  margin: 0 !important;
  top: 292px;
  left: 30px;
  z-index: 30;
}
.days6,
.days7,
.div7,
.div8,
.div9 {
  top: 342px;
  z-index: 31;
}
.days6,
.days7,
.div8,
.div9 {
  top: 392px;
  z-index: 32;
}
.days6,
.days7,
.div9 {
  left: 125px;
  z-index: 33;
}
.days7,
.div9 {
  top: 442px;
  left: 30px;
  z-index: 34;
}
.osmo-wallet-amount {
  position: absolute;
  top: 490px;
  left: 30px;
  font-size: var(--font-size-lg);
  text-align: center;
  letter-spacing: 0.14em;
  color: pink;
  z-index: 11;
}
.days,
.days1,
.days2,
.days3,
.days4,
.days5,
.days6,
.days7 {
  left: 100px;
}
.lock-tutorial {  
  position: absolute;
  left: 44px;
  top: -70px;
  min-width: 33px;
  border: 1px #aaaaaa solid;
  border-radius: 10px;
  background-color: #50C9BD;
  padding: 12px;
  color: #000000;
  font-size: 14px;
  z-index: 21;
}
.deposits-list,
.lock-button-child {
  position: absolute;
  box-sizing: border-box;
}
.deposits-list {
  top: 170px;
  left: 925px;
  background-color: #2F2F2F;
  width: 280px;
  height: 520px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--font-size-xl);
  color: #ffffff;
}
.deposit-list-x-axis,
.deposit-list-x-axis1,
.deposit-list-x-axis2,
.deposit-list-x-axis3,
.deposit-list-x-axis4,
.deposit-list-x-axis5,
.deposit-list-x-axis6,
.deposit-list-x-axis7 {
  position: absolute;
  top: 375px;
  border-top: 2px;
  background-color: #ffffff;
  width: 280px;
  height: 2px;
  z-index: 25;
}
.deposit-list-x-axis {  
  top: 125px;
}
.deposit-list-x-axis1 {  
  top: 175px;
}
.deposit-list-x-axis2 {  
  top: 225px;
}

.deposit-list-x-axis3 {  
  top: 275px;
}
.deposit-list-x-axis4 {  
  top: 325px;
}
.deposit-list-x-axis5 {  
  top: 375px;
}
.deposit-list-x-axis6 {  
  top: 425px;
}
.mbrn-claim-button {
  cursor: pointer;
  background-color: #D9D9D9;
  position: absolute;
  top: 180px;
  left: 575px;
  width: 80px;
  height: 22px;
  font-size: small;
  letter-spacing: 0.14em;
  border-radius: 10%;
  z-index: 30;
}
.lockdrop-page {
  position: relative;
  top: 0;
  background-color: var(--color-gray-100);
}
.lockdrop {
  position: relative;
  margin-left: 10%;
  width: 1440px;
  height: 900px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: 'Abel';
}
.pagetitle-lockdrop {
  top: 29px;
  left: 98px;
  color: #ffffff;
}
.titleicon-lockdrop {
  position: absolute;
  top: 0px;
  left: 130px;
  width: 55px;
  height: 55px;
}
.lock-amount {
  position: absolute;
  top: 459px;
  left: 633px;
  width: 44px;
  color: black;
  background-color: #D9D9D9; 
  z-index: 31;
}
.mbrn-claim-button-label {
  position: absolute;
  top: 1px;
  left: 22px;
  color: black;
  z-index: 31;
}
/*Governance Specific*/
.pagetitle-gov {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 8%;
  left: 3%;
  top: 6%;
  font-size: xx-large;
  color: white;
}
.proposal-axis,
.proposal-axis1,
.proposal-axis2,
.proposal-axis3,
.proposal-axis4,
.proposal-axis5,
.proposal-axis6,
.proposal-axis7 {
  position: absolute;
  margin: 0 !important;
  top: 53px;
  left: 4px;
  border-top: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 392px;
  height: 2px;
  z-index: 0;
  background-color: white;
}
.proposal-axis1 {
  top: 103px;
  z-index: 1;
}
.proposal-axis2 {
  top: 153px;
  z-index: 2;
}
.proposal-axis3 {
  top: 203px;
  z-index: 3;
}
.proposal-axis4 {
  top: 253px;
  z-index: 4;
}
.proposal-axis5 {
  top: 303px;
  z-index: 5;
}
.proposal-axis6{
  top: 353px;
  z-index: 6;
}
.proposal-axis7 {
  top: 403px;
  z-index: 7;
}
.proposal1-button,
.proposal2-button,
.proposal3-button,
.proposal4-button,
.proposal5-button,
.proposal6-button,
.proposal7-button,
.proposal8-button {
  position: absolute;
  margin: 0 !important;
  top: 17px;
  left: 18px;
  border-radius: 50%;
  background-color: #71BD36;
  width: 22px;
  height: 22px;
  z-index: 0;
}
.proposal2-button,
.proposal3-button,
.proposal4-button,
.proposal5-button,
.proposal6-button,
.proposal7-button,
.proposal8-button {
  top: 67px;
}
.proposal3-button,
.proposal4-button,
.proposal5-button,
.proposal6-button,
.proposal7-button,
.proposal8-button {
  top: 117px;
}
.proposal4-button,
.proposal5-button,
.proposal6-button,
.proposal7-button,
.proposal8-button {
  top: 167px;
}
.proposal5-button,
.proposal6-button,
.proposal7-button,
.proposal8-button {
  top: 217px;
}
.proposal6-button,
.proposal7-button,
.proposal8-button {
  top: 267px;
}
.proposal7-button,
.proposal8-button {
  top: 317px;
}
.proposal8-button {
  top: 367px;
}
.proposal-1,
.proposal-2,
.proposal-3,
.proposal-4,
.proposal-5,
.proposal-6,
.proposal-7,
.proposal-8 {
  color: white;
  cursor: pointer;
}

.proposal-1,
.proposal-2,
.proposal-3,
.proposal-4 {
  position: absolute;
  margin: 0 !important;
  top: 17px;
  left: 70px;
  z-index: 16;
}
.proposal-2 {
  top: 67px;
  z-index: 17;
}
.proposal-3 {
  top: 117px;
  z-index: 18;
}
.proposal-4 {
  top: 167px;
  z-index: 19;
}
.proposal-5,
.proposal-6,
.proposal-7,
.proposal-8 {
  position: absolute;
  margin: 0 !important;
  top: 217px;
  left: 70px;
  z-index: 20;
}
.proposal-6{
  top: 267px;
}
.proposal-7 {
  top: 317px;
}
.proposal-8 {
  top: 367px;
}
.submit-proposal {
  position: absolute;
  cursor: pointer;
  top: 9.38%;
  left: 18%;
}
.submit-proposal-button {
  position: relative;
  cursor: pointer;
  top: 84%;
  left: 31%;
  width: 154px;
  height: 32px;
  background-color: #D9D9D9;
}
.proposal-days {
  position: absolute;
  margin: 0 !important;
  top: 17px;
  left: 218px;
  z-index: 25;
  color: white;
}
.proposal-days1,
.proposal-days2,
.proposal-days3 {
  position: absolute;
  margin: 0 !important;
  top: 67px;
  left: 218px;
  z-index: 26;
  color: white;
}
.proposal-days2,
.proposal-days3 {
  top: 117px;
  z-index: 27;
}
.proposal-days3 {
  top: 167px;
  z-index: 28;
}
.proposal-days4,
.proposal-days5,
.proposal-days6 {
  position: absolute;
  margin: 0 !important;
  top: 217px;
  left: 218px;
  z-index: 29;
  color: white;
}
.proposal-days5,
.proposal-days6 {
  top: 267px;
  z-index: 30;
}
.proposal-days6 {
  top: 317px;
  z-index: 31;
}
.proposal-days7,
.proposal-result,
.proposal-result1 {
  position: absolute;
  margin: 0 !important;
  top: 367px;
  left: 218px;
  z-index: 32;
  color: white;
}
.proposal-result,
.proposal-result1 {
  top: 17px;
  left: 340px;
  z-index: 33;
}
.proposal-result1 {
  top: 67px;
  z-index: 34;
}
.proposal-result2,
.proposal-result3,
.proposal-result4 {
  position: absolute;
  margin: 0 !important;
  top: 117px;
  left: 340px;
  z-index: 35;
  color: white;
}
.proposal-result3,
.proposal-result4 {
  top: 167px;
  z-index: 36;
}
.proposal-result4 {
  top: 217px;
  z-index: 37;
}
.proposal-result5,
.proposal-result6,
.proposal-result7 {
  position: absolute;
  margin: 0 !important;
  top: 267px;
  left: 340px;
  z-index: 38;
  color: white;
}
.proposal-result6,
.proposal-result7 {
  top: 317px;
  z-index: 39;
}
.proposal-result7 {
  top: 367px;
  z-index: 40;
}
.proposals-delegations{  
  position: relative;
  display: flex;
  left: -121%;
  top: 37.7%;
  width: 100%;
  height: 100%;
}
.proposals-frame {
  position: relative;
  margin-top: 10%;
  left: 10%;
  background-color: #2F2F2F;
  border: gray 2.5px solid;
  width: 402px;
  height: 499px;
}
.delegation-frame {
  position: relative;
  display: flex;
  gap: 3%;
  left: 17%;
  top: 20%;
  width: 630px;
  height: 500px;
}
.delegate-xaxis-frame {  
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  margin-top: 12%;
  gap: 12%;
}
.delegate-yaxis-frame {  
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  margin-left: 44%;
  gap: 13%;
}
.delegate-button-frame {  
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0%;
  right: 2.5%;
  width: 100%;
  height: 100%;
  margin-top: 3%;
  gap: 5.5%;
  align-items: end;
}
.delegate-frame {  
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 2.5%;
  width: 100%;
  height: 100%;
  gap: 5%;
}
.fluidity-frame {  
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 2.5%;
  width: 100%;
  height: 100%;
  margin-left: 49%;
  gap: 5%;
}
.voting-power-frame {  
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 2.5%;
  width: 100%;
  height: 100%;
  margin-left: 63%;
  gap: 5%;
}
.commission-frame {  
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 2.5%;
  width: 100%;
  height: 100%;
  margin-left: 75.5%;
  gap: 5%;
}
.delegate {
  position: absolute;
  color: black;
  top: 9.38%;
  left: 31.5%;
}
.set-delegate-button {
  position: relative;
  top: -4%;
  left: 14%;
  width: 154px;
  height: 32px;
  text-align: center;
  background-color:whitesmoke;
  border-radius: 50%;
}
.delegate-button:hover,
.unstake-button:hover,
.stake-button1:hover,
.gov-claim-button:hover {
  background-color: #50C9BD;
}
.total-vp-frame{
  position: relative;
  display: flex;
  flex-direction: row;
  left: 22.5%;
}
.total-vp-label {
  position: relative;
  color: white;
  font-size: larger;
}
.total-vp-amount {
  position: relative;
  color: white;
  top: 10%;
  left: 6.5%;
  font-size: xx-large;
  color: #50C9BD;
}
.delegate-box-labels {
  position: relative;
  color: white;
  display: flex;
  gap: 2%;
}
.claim {
  position: absolute;
  top: -10%;
  left: 33%;
  font-size: 150%;
}
.gov-claim-button {
  position: absolute;
  top: 8%;
  left: 4%;
  width: 90%;
  height: 32px;
  color: black;
  background-color: whitesmoke;
}
.commission {
  position: absolute;
  color: white;
  top: 802px;
  left: 1102px;
}
.commission:hover {
  color: #585858;
}
.unstake {
  position: absolute;
  top: -10%;
  left: 1px;
  font-size: 150%;
}
.unstake-input {
  position: absolute;
  background-color: white;
  border: 1px solid aqua;
  width: 55px;
  top: 5.5%;
  left: 57%;
  height: 28px;
  z-index: 30;
}
.unstake-button {
  position: relative;
  width: 154px;
  height: 32px;
  color: black;
  background-color: whitesmoke;
}
.stake {
  position: absolute;
  top: -10%;
  left: 5;
  text-align: center;
  font-size: 150%;
}
.stake-input {
  position: absolute;
  background-color: white;
  border: 1px solid aqua;
  width: 55px;
  height: 28px;
  bottom: 5.5%;
  left: 54%;
  z-index: 30;
}
.stake-button1 {
  position: relative;
  width: 154px;
  height: 32px;
  text-align: center;
  color: black;
  background-color: whitesmoke;
}
.unstake-button-frame,
.stake-button-frame,
.claim-button-frame { 
  position: relative;
  background-color: #585858;
  width: 185px;
  height: 100%;
  border-radius: 1rem;
  text-align: center;
}
.claim-button-frame {
  display: flex;
  flex-direction: column;
}
.claims-frame {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 67.5%;
  /* gap: 28%; */
  top: 31%;
  justify-content: center;
}
.button-frames {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 135px;
  gap: 13%;
  top: 4%;
  margin-left: 17%;
  width: 100%;
}
.button-icon {
  position: absolute;
  margin: 0 !important;
  top: 9.5px;
  left: 63.87px;
  width: 11.26px;
  height: 13.5px;
  z-index: 0;
}
.status-label {
  position: relative;
}
.status-dropdown {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.delegate-box {
  position: relative;
  background-color: #2F2F2F;
  border: gray 2.5px solid;
  width: 323px;
  height: 319px;
}
.undelegate-button {
  position: relative;
  border-radius: 50%;
  background-color: white;
  opacity: 26%;
  width: 22px;
  height: 22px;
}
.delegators-box,
.your-delegators {
  position: absolute;
  color: white;
  top: 430px;
  left: 1000px;
}
.delegators-box {
  top: 473px;
  left: 897px;
  background-color: #2F2F2F;
  border: gray 2.5px solid;
  width: 315px;
  height: 319px;
}
.delegate-x {
  position: relative;
  border-top: 2px solid black;
  width: 318px;
  height: 2px;
}
.staked-mbrn-frame {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 66%;
  gap: 13%;
  text-align: left;
}
.staked-mbrn1,
.staked-mbrn2 {
  position: relative;
  color: white;
  width: 100%;
  font-size: large;
  height: 20%;
  left: 9%;
  top: 12%;
}
.unstaked-mbrn-frame {
  height: 66%;
  position: relative;
  top: 7%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.unstaking-mbrn {  
  position: relative;
  color: white;
  width: 100%;
  left: -9%;
  height: 30%;
  font-size: x-large;
  text-align: center;
}
.unstaking-mbrn-total {
  position: relative;
  color: white;
  left: -3.5%;
  font-size: small;
  opacity: 0.5;
}
.cdt-claims,
.mbrn-claims {
  position: relative;
  width: 47%;
  color: white;
  font-size: x-large;
  text-align: center;
  top: 10%;
}
.logo-icon1 {
  position: relative;
  width: 43px;
  height: 43px;
  overflow: hidden;
  flex-shrink: 0;
}
.gov-icon {
  position: relative;
  width: 48px;
  height: 48px;
  top: 4%;
}
.logo-shiftDown {
  top: 13px;
}
.membrane {
  position: relative;
  display: none;
}
.mbrn-claim-logo,
.mbrn-stake-logo,
.mbrn-unstake-logo {
  position: absolute;
  top: 34%;
  left: 60%;
}
.mbrn-claim-logo {
  top: 170px;
  left: 1080px;
  width: 49px;
  height: 49px;
}
.unstaking-progress-bar {
  position: relative;
  top: 19%;
  left: 8%;
  border-radius: 50%;
  width: 157px;
  height: 14px;
}
.emissions-schedule {
  position: absolute;
  color: #50C9BD;
  bottom: 2%;
  left: 29%;
}
.cdt-logo-icon {
  top: 170px;
  left: 1000px;
  width: 45px;
  height: 45px;
  object-fit: cover;
}
.delegation-y{
  position: relative;
  border-right: 3px solid #50C9BD;
  width: 3px;
  height: 315px;
}
.governance {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 4%;
}
.proposal-dropdown {
  position: absolute;
  top: 4px;
  left: 0px;
  background-color: #585858;
  width: 75px;
  height: 45px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  color: white;
}
.status-dropdown {
  top: -8.5%;
  left: -0.5%;
  width: 83px;
  height: 27px;
  flex-direction: column;
}
.proposal-axis-labels {
  position: relative;
  top: -5%;
  left: 53%;
  width: 189px;
  color: white;
  font-size: small;
}
.proposal-menu {
  position: absolute;
  margin-top: 222%;
  width: 75px;
  z-index: 1;
}
.proposal-menu > li:hover {
  background-color: lightgray;
}
.proposal-menu > li > button {
  text-align: center;
  color: inherit;
  border: none;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

.proposal-menu-item-active,
.proposal-menu-item-pending,
.proposal-menu-item-executed,
.proposal-menu-item-completed {
  position: relative;
  text-align: center;
  border: 1px solid grey;
}
.proposal-menu-item-active {  
  background-color: #567c39;
}
.proposal-menu-item-pending {
  background-color: rgb(189, 131, 22);
}
.proposal-menu-item-completed {
  background-color: rgb(73, 73, 169);
}
.proposal-menu-item-executed {
  background-color: rgb(160, 102, 102);
}
.delegate-1,
.fluid-1,
.vp-1,
.commission-1 {
  position: relative;
  color: white;
}
.undelegate-button:hover {
  opacity: 0.5;
}
.delegator-1,
.delegator-2,
.delegator-3,
.delegator-4,
.delegator-5,
.delegator-6,
.delegator-7,
.delegator-8 {
  color: white;
}

.delegator-1,
.delegator-2,
.delegator-3,
.delegator-4,
.delegator-5,
.delegator-6,
.delegator-7,
.delegator-8,
.delegator-fluid-1,
.delegator-fluid-2,
.delegator-fluid-3,
.delegator-fluid-4,
.delegator-fluid-5,
.delegator-fluid-6,
.delegator-fluid-7,
.delegator-fluid-8,
.delegator-vp-1,
.delegator-vp-2,
.delegator-vp-3,
.delegator-vp-4,
.delegator-vp-5,
.delegator-vp-6,
.delegator-vp-7,
.delegator-vp-8 {
  color: white;
  position: absolute;
  margin: 0 !important;
  top: 487px;
  left: 902px;
}
.delegator-2 {
  top: 530px;
}
.delegator-3 {
  top: 573px;
}
.delegator-4 {
  top: 613px;
}
.delegator-5 {
  top: 654px;
}
.delegator-6{
  top: 696px;
}
.delegator-7 {
  top: 735px;
}
.delegator-8 {
  top: 770px;
}

.delegator-fluid-1,
.delegator-fluid-2,
.delegator-fluid-3,
.delegator-fluid-4,
.delegator-fluid-5,
.delegator-fluid-6,
.delegator-fluid-7,
.delegator-fluid-8 {
  left: 1135px;
}
.delegator-fluid-2 {
  top: 530px;
}
.delegator-fluid-3 {
  top: 573px;
}
.delegator-fluid-4 {
  top: 613px;
}
.delegator-fluid-5 {
  top: 654px;
}
.delegator-fluid-6 {
  top: 696px;
}
.delegator-fluid-7 {
  top: 735px;
}
.delegator-fluid-8 {
  top: 770px;
}
.delegator-vp-1,
.delegator-vp-2,
.delegator-vp-3,
.delegator-vp-4,
.delegator-vp-5,
.delegator-vp-6,
.delegator-vp-7,
.delegator-vp-8 {
  left: 1180px;
}
.delegator-vp-2 {
  top: 530px;
}
.delegator-vp-3 {
  top: 573px;
}
.delegator-vp-4 {
  top: 613px;
}
.delegator-vp-5 {
  top: 654px;
}
.delegator-vp-6 {
  top: 696px;
}
.delegator-vp-7 {
  top: 735px;
}
.delegator-vp-8 {
  top: 770px;
}

/*POSITIONS SPECIFIC*/
.infobox-icon {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.5;
  border: 4px solid #585858;
  border-radius: 1rem;
}
.cdp-div2,
.infobox-icon1 {
  position: absolute;
  top: 0;
}
.infobox-icon1 {
  left: 0;
  border-radius: 1rem;
  width: 539px;
  height: 652px;
  background-color: #FFFFFF;
  opacity: 0.38;
}
.cdp-div2 {
  font-size: large;
  left: 233px;
  top: 11px;
}
.liq-value {
  position: absolute;
  font-size: medium;
  left: 45px;
  top: 11px;
}
.max-ltv-child {
  top: 34.5px;
  left: 26px;
  width: 252px;
  height: 5px;
  background-color: #931313;
}
.cdp-div3,
.max-ltv,
.max-ltv-child {
  position: absolute;
}
.max-ltv {
  top: 30px;
  left: -22px;
  width: 100%;
  height: 34px;
}
.cdp-div3 {
  font-size: large;
  top: 5px;
  left: 211.5px;
}
.max-borrow-ltv-child {
  position: absolute;
  top: 28px;
  left: 58px;
  width: 198px;
  height: 0px;
  border: 2.5px dashed #DCD988;
}
.max-borrow-ltv {
  position: absolute;
  top: 57px;
  left: 0px;
  width: 100%;
  height: 30.5px;
}
.squid-router{
  position: relative;
  width: 269px;
  top: 9%;
}
.swap-button {
  background-color: #798EFF;
}
.debt-visual-child {
  position: absolute;
  top: 70px;
  left: calc(50% - 74.5px);
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  box-sizing: border-box;
  width: 149px;
  height: 339px;
}
.debt-visual-label {
  position: absolute;
  top: 407px;
  left: 34.5%;
  text-align: center;
  color: black;
  font-size: small;
}
.debt-visual-item {
  position: absolute;
  left: 22%;
  background: linear-gradient( 180deg, rgba(121, 142, 255, 0.68), rgba(79, 202, 187, 0.8) );
  width: 143.9px;
}
.debt-visual {
  position: relative;
  width: 260px;
  height: 578px;
  top: 9%;
  z-index: 1;
  color: black;
}
.debtbar-visual {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70.4%;
}
.infobox-icon2 {
  position: relative;
  width: 100%;
  height: 170px;
  background-color: #454444;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}
.position-visual-words {
  position: absolute;
  top: 22px;
  width: 100%;
  text-align: center;
  font-size: medium;
}
.position-visual-words-btmright {
  position: absolute;
  top: 125px;
  width: 100%;
  text-align: center;
  font-size: medium;
}
.slider-desc {  
  font-weight: bolder;
  font-family: "Space Grotesk";
  color: #7990FE;
}
.cdt-logo-icon-cdp {
  position: absolute;
  top: 57px;
  left: calc(50% - 27px);
  width: 55px;
  height: 55px;
  object-fit: cover;
}
.cost-4 {
  position: absolute;
  bottom: 0%;
  text-align: center;
  left: 34%;
  width: 33%;
  font-size: small;
}
.debt-225 {
  position: absolute;
  top: calc(50% + 26.5px);
  left: 271px;
}
.liq-value-375 {
  position: absolute;
  top: 120px;
  left: 267px;
}
.tvl-500 {    
  font-size: large;
  position: absolute;
  bottom: 2%;
  right: 5%;
}
.position-stats {
  position: absolute;
  bottom: 0.2%;
  right: 0.5%;
  width: 100%;
  height: 29.58%;
  color: whitesmoke;
  z-index: 1;
}
.infobox-icon3 {
  position: absolute;
  border-radius: 1rem;
  background-color: #454444;
  width: 100%;
  height: 100%;
}
.assetinfo-data {  
  display: flex;
  flex-direction: row;
  height: 80%;
  position: relative;
  top: 2%;
}
.assetinfo-assets,
.assetinfo-qty,
.assetinfo-menuitem {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 80%;
  position: relative;
  align-items: center;
}
.assetinfo-menuitem {
  top: 2.5%;
  gap: 8%;
  left: 2%;
}
.assetinfo-assets {
  top: 2%;
  gap: 5%;
  left: -1%;
}
.assetinfo-qty {
  top: 2%;
  gap: 5.8%;
}
@media screen and (min-width:1444px) {
  .assetinfo-menuitem {
    gap: 8%;
  }
  .assetinfo-qty {
    gap: 6%;
  }
  .tvl-500 {
    bottom: 0%;
  }
}
.osmo-logo-icon,
.atom-logo-icon,
.axlusdc-logo-icon,
.atomosmopool-osmo-icon,
.atomosmopool-atom-icon,
.osmousdcpool-osmo-icon,
.osmousdcpool-usdc-icon {
  position: relative;
  width: 45px;
  height: 45px;
  z-index: 51;
}
.asset-info-child,
.asset-info-child1,
.asset-info-child2,
.asset-info-child3,
.asset-info-inner,
.asset-info-item,
.line-div {
  position: absolute;
  top: 67.5px;
  left: 0.5px;
  border-top: 3px dashed #585858;
  box-sizing: border-box;
  width: 319px;
  height: 3px;
}
.asset-info-child2,
.asset-info-child3 {
  top: 367.5px;
  width: 315px;
  left: 1%;
}
@media screen and (max-width:320px) {
  .asset-info-child,
  .asset-info-child1,
  .asset-info-child2,
  .asset-info-child3,
  .asset-info-inner,
  .asset-info-item,
  .line-div {
    width: 243px;
  }
}

.asset-info-item {
  top: 127.5px;
}
.asset-info-inner {
  top: 187.5px;
}

.line-div {
  top: 247.5px;
}
.asset-info-child1 {
  top: 307.5px;
}
.asset-info-child3 {
  top: 427.5px;
}
.assetinfo-titles {
  display: inline-flex;
  gap: 13%;
  position: relative;
  top: 3%;
  left: 6%;
}
.asset,
.qty,
.value {
  position: relative;
  font-size: min(max(1.8vw, 25px), 25px);
}
.value-menu-dropdown {  
  border: 2px solid #798eff;
  width: 5.5vw;
  min-width: 51px;
  height: 6vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  z-index: 22;
  color: white;
}
.value-menu {  
  position: absolute;
  margin-top: 133px;
  width: 5.5vw;
}
.value-menu-item {
  border: 1px solid #798eff;
  background-color: #454444;
  position: relative;
  text-align: center;
}
.osmo-qty,
.atom-qty,
.axlUSDC-qty,
.atomosmopool-qty,
.osmousdcpool-qty {
  cursor: pointer;
  width: 100%;
  height: 13%;
  position: relative;
  text-align: center;
  z-index: 50;
  border: #7990FE 2px solid;
  border-radius: 1rem;
  background-color: gray;
  box-shadow: 0px 0px 5px #c1c1c1;
}
.osmo-qty:hover,
.atom-qty:hover,
.axlUSDC-qty:hover,
.atomosmopool-qty:hover,
.osmousdcpool-qty:hover {
  box-shadow: inset 0px 0px 5px #c1c1c1;
}
.cdt-logo-icon4 {
  top: 254px;
  left: 30px;
  width: 45px;
  height: 45px;
  object-fit: cover;
}
.cdt-logo-icon5,
.cdp-div10,
.cdp-div11 {
  position: absolute;
  top: 259px;
  left: 150px;
}
.cdt-logo-icon5,
.cdp-div11 {
  left: 228px;
}
.cdt-logo-icon5 {
  top: 314px;
  left: 30px;
  width: 45px;
  height: 45px;
  object-fit: cover;
}
.cdt-logo-icon6,
.cdp-div12,
.cdp-div13 {
  position: absolute;
  top: 319px;
  left: 150px;
}
.cdt-logo-icon6,
.cdp-div13 {
  left: 228px;
}
.cdt-logo-icon6 {
  top: 374px;
  left: 30px;
  width: 45px;
  height: 45px;
  object-fit: cover;
}
.asset-info,
.cdp-div14,
.cdp-div15 {
  position: absolute;
  top: 379px;
  left: 150px;
}
.asset-info,
.cdp-div15 {
  left: 228px;
}
.asset-info {
  margin: 0 !important;
  position: relative;
  top: 7%;
  left: 2%;
  width: 320px;
  height: 504.75px;
  z-index: 2;
}
@media screen and (max-width: 375px) {
  .asset-info-child,
  .asset-info-child1,
  .asset-info-child2,
  .asset-info-child3,
  .asset-info-inner,
  .asset-info-item,
  .line-div {
    width: 299px;
  }
}
@media screen and (max-width:320px) {
  .asset-info {    
    left: 0%;
    width: 240px;
  }
  .asset-info-child,
  .asset-info-child1,
  .asset-info-child2,
  .asset-info-child3,
  .asset-info-inner,
  .asset-info-item,
  .line-div {
    width: 238px;
  }
}
.controller-item {
  position: relative;
  top: 16%;
}
.controller-frame {
  position: relative;
  border-radius: 1rem;
  border: 1px solid #7990FE;
  background-color: #585858;
  width: 279px;
  height: 284px;
  z-index: 1;
}
.controller-label {
  position: absolute;
  background-color: #2F2F2F;
  border: 2px solid #7990FE;
  top: -15%;
  left: 25%;
  border-radius: 1rem;
  width: 142px;
  height: 63px;
  text-align: center;
  z-index: 1;
}
.mint-button,
.repay-button {
  position: absolute;
  text-align: center;
  background-color: #2F2F2F;
  border: 2px solid #50C9BD;
  border-radius: 1rem;
  top: 38%;
  left: 65%;
  width: 80px;
  height: 43px;
  cursor: pointer;
  z-index: 1;
}
.mint-button {
  left: 5%;
}
.controller-screen-blank{
  font-size: small;
}
.nowrap {
  white-space: nowrap;
  cursor: pointer;
}
.starting-screen {  
  position: relative;
  left: -2px;
  top: 66px;
  text-align: center;
}
.close-button,
.controller-screen-blank,
.rdemption-button {
  background-color: #2F2F2F;
  border: 2px solid #50C9BD;
  position: absolute;
  top: 3.5%;
  left: 2.5%;
  border-radius: 1rem;
  width: 264px;
  height: 263px;
  z-index: 1;
}
.close-button,
.rdemption-button {
  top: 570px;
  left: 977.5px;
  width: 126px;
  height: 63px;
  cursor: pointer;
}
.close-button {
  left: 908.5px;
}
.controller {
  position: relative;
  top: 12px;
  font-size: x-large;
  z-index: 1;
}
.change-vault {
  top: 716px;
  left: 984.5px;
}
.left-arrow-icon,
.right-arrow-icon {
  position: absolute;
  top: 666.35px;
  left: 965.5px;
  width: 42.75px;
  height: 43.3px;
  cursor: pointer;
}
.right-arrow-icon {
  left: 1078.75px;
}
.mint {    
  position: relative;
  top: 6%;
  cursor: pointer;
  z-index: 1;
}
.close-position,
.set-redemptions {
  position: absolute;
  top: 587px;
  left: 939.5px;
  cursor: pointer;
  z-index: 1;
}
.close-position {
  color: white;
}
.set-redemptions {
  top: 584px;
  left: 968.5px;
  font-size: x-large;
  text-align: center;
  display: inline-block;
  width: 143px;
  height: 72px;
}
.repay {
  position: relative;
  top: 6%;
  cursor: pointer;
  z-index: 1;
}
.cdt-logo-icon7 {
  position: absolute;
  top: 314px;
  left: 109px;
  width: 45px;
  height: 45px;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
}
.cdt-logo-icon7:hover{ 
  top: 319px;
  left: 114px;
  width: 35px;
  height: 35px;
}
.cdt-logo-icon-blank {
  position: absolute;
  top: 542px;
  left: 1016px;
  width: 45px;
  height: 45px;
  object-fit: cover;
  z-index: 1;
}
.vault-page {
  background-color: #212121;
}
.pie-chart-icon1 {
  position: relative;
}
.vaults1 {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 8%;
  left: 3%;
  top: 6%;
  font-size: xx-large;
}
.vault-frame {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(176.07deg, #4fcabb, #798eff);
  overflow: hidden;
}
.mint-button-icon1 {
  position: absolute;
  top: -3px;
  left: -3px;
  border-radius: 1rem;
  width: 264px;
  height: 263px;
}
.mint-button-icon1 {
  top: 69px;
  left: 30px;
  width: 199px;
  height: 63px;
}
.mint-amount {
  position: absolute;
  top: 192px;
  left: 59px;
  width: 55px;
  height: 28px;
  font-size: medium;
  border-radius: 0.25rem;
}
.mint-amount-label {
  position: absolute;
  top: 185px;
  left: 6px;
  font-size: large; 
  height: 28px;
  padding-top: 0%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-bottom: 0.75rem;
}
.range-label {
  position: absolute;
  font-size: small;
  left: 14%;
  user-select: none;
}
.red {
  color: red;
}
.green {
  color: green;
}
.neutral {
  opacity: 0;
}
.cdt-amount {
  position: absolute;
  top: 398px;
  height: 10px;
  left: 190px;
  width: 55px;
  border-radius: 0.25rem;
}
.amount {
  position: absolute;
  top: 90px;
  left: 22px;
}
.amount-label {
  position: absolute;
  top: 60px;
  left: 22px;
  font-size: large;
}
input[type=range][orient=vertical] {
  appearance: slider-vertical;
  left: 19.5%;
  width: 8px;
  height: 175px;
  padding: 0 5px;
  background: linear-gradient( 180deg, rgba(121, 142, 255, 0.68), rgba(79, 202, 187, 0.8) );
}
.max-amount-label {
  cursor: pointer;
  opacity: .7;
  position: relative;
  text-align: right;
  top: 128px;
  left: -26px;
  font-size: large;
}
.mintrepay-screen,
.redemption-screen,
.deposit-withdraw-screen {
  position: absolute;
  top: 3.5%;
  left: 2.5%;
  width: 264px;
  height: 263px;
  z-index: 0;
}
.front-screen {
  z-index: 2;
}

.mint-button-icon2,
.mint-button-icon3,
.mint-button-icon4,
.mint-button-icon3-solid,
.mint-button-icon4-solid {
  position: absolute;
  top: 36px;
  left: 13px;
  border-radius: 1rem;
  width: 96px;
  height: 44px;
  cursor: pointer;
}
.mint-button-icon3,
.mint-button-icon4,
.mint-button-icon3-solid,
.mint-button-icon4-solid {
  top: 121px;
  width: 36px;
  height: 36px;
  border: 2px solid green;
}
.mint-button-icon4,
.mint-button-icon4-solid {
  left: 62px;
  border: 2px solid red;
}
.mint-button-icon3-solid {
  background-color: green;
}
.mint-button-icon4-solid {
  background-color: red;
}
.mint-button-icon3:hover {
  background-color: green;
}
.mint-button-icon4:hover {
  background-color: red;
}
.premium-label {
  position: absolute;
  top: 8px;
  left: 18px;
}
.mint-button-icon5 {
  position: absolute;
  top: 36px;
  left: 139px;
  border-radius: 1rem;
  width: 96px;
  height: 44px;
}
.loan-usage {
  position: absolute;
  top: 8px;
  left: 121px;
}
.edit-redeemability {
  position: absolute;
  top: 88px;
  left: 16px;
}
.click-assets-on {
  position: absolute;
  top: 165px;
  left: 10px;
  font-size: medium;
  text-align: center;
  display: inline-block;
  width: 250px;
  height: 60px;
}
.close-screen {
  position: absolute;
  top: 40px;
  left: 42px;
  font-size: large;
  text-align: center;
  display: inline-block;
  width: 189px;
  height: 60px;
}
.positions {
  position: relative;
  width: 100vw;
  font-size: x-large;
  color: white;
  background-color: #212121;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4%;
  justify-content: center;
}
@media screen and (max-width: 425px) {
  .positions {
    gap: 11%;
  }
  .positions {
    overflow-x: hidden;
  }
}
@media screen and (min-width: 1440px) {
  .positions {
    gap: 8%;
  }
}
.liquidations {
  position: relative;
  width: 100vw;
  height: 111vh;
  margin-left: 9vw;
  text-align: left;
  color: white;
  font-family: 'Abel';
}
.cdp-deposit-label {
  position: absolute;
  cursor: pointer;
  top: 0px;
  left: 40px;
}
.cdp-withdraw-label {
  position: absolute;
  cursor: pointer;
  top: 0px;
  left: 132px;
}
.slash {
  position: absolute;
  top: 0px;
  left: 116px;
}
.low-opacity {
  opacity: 44%;
}
.hidden {
  opacity: 0%;
}
.bold {  
  font-weight: bold;
}
.save-asset-intent-button,
.user-redemption-button {
  position: relative;
  background-color: gray;
  border: 2px solid #50C9BD;
  border-radius: 1rem;
  top: 130px;
  left: 70px;
  width: 126px;
  height: 33px;
  cursor: pointer;
  text-align: center;
  font-size: small;
}
.spacing-top {
  padding-top: 5%;
}
.spacing-btm {  
  position: relative;
}
.intents {
  position: absolute;
  top: 170px;
  left: 40px;
  width: 200px;
  height: 33px;
  cursor: pointer;
  text-align: left;
  font-size: small;
}
.user-redemptions {
  position: absolute;
  top: 80px;
  left: 42px;
  font-size: large;
  text-align: center;
  display: inline-block;
  width: 189px;
  height: 60px;
  z-index: 0;
}
.user-redemption-button {
  top: 92.5%;
  z-index: 51;
  left: 28%;
  font-size: large;
}
.red-border {
  border: 2px solid red;
}
.spread-label {
  position: absolute;
  top: 230px;
  left: 90px;
  font-size: small;
}
.spread {
  position: absolute;
  top: 190px;
  left: 22px;
}
/* Popup specifc */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-inner {
  position: absolute;
  padding: 32px;
  height: 200px;
  width: 100%;
  max-width: 600px;
  background-color: #383838;
  color: white;
  border: 3px solid #4fcabb;
  z-index: 9999; 
}
@media screen and (max-width:425px) {
.popup-inner {
  height: 283px; 
}}
.popup-button {
  position: absolute;
  height: 20px;
  width: 50px;
  top: 16px;
  right: 16px;
  z-index: 9999; 
  color: white;
  background-color: #7990FE;
  font-size: small;
}
.popup-msg {  
  font-size: small;
}
.widget-popup {  
  display: flex;
  justify-content: center;
  position: relative;
  top: -3%;
  z-index: 9999;
  height: 100%;
  overflow-y: scroll;
}
@media screen and (max-width:425px) {
  .widget-popup {
    height: 80%;
}}